@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@media (max-width: 767px) {
  #link-a {
    top: 73rem;
  }
}

@media (max-width: 425px) {
  #link-a {
    top: 76rem;
    left: 2rem;
  }
}

@media (max-width: 375px) {
  #link-a {
    top: 77rem;
    left: 1rem;
  }
}

@media (max-width: 320px) {
  #link-a {
    top: 79rem;
    left: 1rem;
  }
}

